# Data Science tools and Ecosystem



In this notebook, Data Science Tools and Ecosystem are summarized.


 Some of the popular languages that Data Scientists use are:
 1. PYTHON
 2. R
 3. SQL

 Some of the commonly used libraries used by Data Scientists include:
1. MATPLOTLIB
2. PANDAS
3. NUMPY

Data Science Tools
1. JUPYTER
2. R STUDIO
3. ANACONDA NAVIGATOR


 Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
 3+2

5

In [6]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
x=200/60
print(x)

3.3333333333333335

*Objectives:*
 List popular languages for Data Science.
. python
. R
. SQL

# AUTHOR:
 KEERTHAN